# Build and Release Folders
bin/
bin-debug/
bin-release/

# Other files and folders
.settings/

# .bak file
*.bak[0-9]

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.